body 
{
margin: 0;
padding: 0;
background-color: lightgray;  
}
.container,.navbar
{
  width: 40% !important;
  height: auto;
  margin: auto;
}
@media only screen and (max-width:580px) {

.container,.navbar
{
width: 90% !important; 
}

}